{% extends 'shopapp/base.html' %}

{% block content %}
<main class="main">
	<section class="aboutUs">
		<h2>Интернет-магазин детских игрушек ToyStore</h2>
		<p>Наш магазин занимается реализацией детских игрушек. Весь товар сертифицирован!</p>
		<ul>
			<p>Адрес офиса:</p>
			<li>г. Новосибирск </li>
			<li>ул. Новосибирская 200 оф. 333</li>
			<li>Телефон - <a href="tel:+ 12139745898">+1 213 974-5898</a> </li>
			<li>Электронная почта <a href="mailto:toystore@template.com">toystore@template.com</a></li>
			<p>Адрес Склада:</p>
			<li>г. Новосибирск </li>
			<li>ул. Троллейная 200 склад №333</li>
			<li>Телефон - <a href="tel:+ 12139745898">+1 213 974-5800</a> </li>
			<li>Электронная почта <a href="mailto:toystore@template.com">toystore_sklad@template.com</a></li>
		</ul>
	</section>
</main>
{% endblock content %}