{% extends 'shopapp/base.html' %}

{% block content %}
<main class="main">
	<h2 class="regH">Регистрация пользователя</h2>
	<form action="{% url 'login' %}" method="post" class="regUserForm">
		{% csrf_token %}
		<p><label class="form-label" for="{{form.username.id_for_label}}">{{form.username.label}}:</label>{{form.username}}</p>
		<div class="form-error">{{form.username.errors}}</div>

		<p><label class="form-label" for="{{form.password1.id_for_label}}">{{form.password1.label}}:</label>{{form.password1}}</p>
		<div class="form-error">{{form.password1.errors}}</div>

		<p><label class="form-label" for="{{form.password2.id_for_label}}">{{form.password2.label}}:</label>{{form.password2}}
		</p>
		<div class="form-error">{{form.password2.errors}}</div>

		<p><label class="form-label" for="{{form.email.id_for_label}}">{{form.email.label}}:</label>{{form.email}}
		</p>
		<div class="form-error">{{form.email.errors}}</div>
		<div class="divForm">
			<input type="submit" class="regSubmit" value="Регистрация"></input>
		</div>
		<div class="divForm">
			<input type="reset" class="regReset" value="Очистить форму"></input>
		</div>
	
	
	</form>
</main>
{% endblock content %}